@page "/"
<h3>Welkom op het blazor project</h3>
<p>Hier vind je een vertaling van Javascript-oefeningen naar C#</p>
<NavButton Link="movies" Text="Movies"/>
<NavButton Link="foto" Text="Foto"/>
<NavButton Link="funfacts" Text="Funfacts"/>
<NavButton Link="dobbelen" Text="Dobbelen"/>

@code {

}
